@font-face {
	font-family: "svgicons";
	src: url('../fonts/svgicons.eot');
	src: url('../fonts/svgicons.eot?#iefix') format('eot'),
		url('../fonts/svgicons.woff') format('woff'),
		url('../fonts/svgicons.ttf') format('truetype');
}

@mixin font-styles {
	font-family: "svgicons";
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	// speak: none; // only necessary if not using the private unicode range (firstGlyph option)
	text-decoration: none;
	text-transform: none;
}

%font {
	@include font-styles;
}

@function font-char($filename) {
	$char: "";

	@if $filename == ico-arrow {
		$char: "\E001";
	}
	@if $filename == ico-facebook {
		$char: "\E002";
	}
	@if $filename == ico-hamburger {
		$char: "\E003";
	}
	@if $filename == ico-instagram {
		$char: "\E004";
	}
	@if $filename == ico-play {
		$char: "\E005";
	}
	@if $filename == ico-youtube {
		$char: "\E006";
	}

	@return $char;
}

@mixin font($filename, $insert: before, $extend: true) {
	&:#{$insert} {
		@if $extend {
			@extend %font;
		} @else {
			@include font-styles;
		}
		content: font-char($filename);
	}
}

.font-ico-arrow {
	@include font(ico-arrow);
}
.font-ico-facebook {
	@include font(ico-facebook);
}
.font-ico-hamburger {
	@include font(ico-hamburger);
}
.font-ico-instagram {
	@include font(ico-instagram);
}
.font-ico-play {
	@include font(ico-play);
}
.font-ico-youtube {
	@include font(ico-youtube);
}
