@inherits UmbracoViewPage<PageViewModel>
<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width" />
	@{
		Html.RenderAction<LayoutController>(c => nameof(c.MetaTags), new { viewModel = Model.MetaTags });
	}
	<meta charset="utf-8">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap&subset=latin-ext" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:700&display=swap&subset=latin-ext" rel="stylesheet">
	<link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>
	<div class="container">
		@{
			Html.RenderAction<LayoutController>(c => nameof(c.Header), new { viewModel = Model.Header });
		}
		<div class="content">
			@RenderBody()
		</div>
		@{
			Html.RenderAction<LayoutController>(c => nameof(c.Footer), new { viewModel = Model.Footer });
		}
	</div>

	<!-- javascript -->
	<script src="/assets/scripts/libs/jquery-3.1.1.min.js"></script>
	<script type="text/javascript" src="/Scripts/jquery.validate.min.js"></script>
	<script type="text/javascript" src="/Scripts/jquery.validate.unobtrusive.js"></script>
	<script src="/assets/scripts/contact-us.js"></script>
	<script src="/assets/scripts/libs/slick.min.js"></script>
	<script src="/assets/scripts/functions.js"></script>
	<script src="/assets/scripts/default.js"></script>


	<script src="https://cdnjs.cloudflare.com/ajax/libs/validate.js/0.13.1/validate.min.js"></script>
	<script src="https://underscorejs.org/underscore-min.js"></script>
</body>
</html>
