@inherits UmbracoViewPage<PageViewModel>

@{
	Layout = null;
}

<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	@{
		Html.RenderAction<LayoutController>(c => nameof(c.MetaTags), new { viewModel = Model.MetaTags });
	}
</head>
<body>
	<div class="container">
		@{
			Html.RenderAction<LayoutController>(c => nameof(c.Header), new { viewModel = Model.Header });
		}
		<div class="content">
			@RenderBody()
		</div>
		@{
			Html.RenderAction<LayoutController>(c => nameof(c.Footer), new { viewModel = Model.Footer });
		}
	</div>
</body>
</html>
