@inherits UmbracoViewPage<ContactViewModel>
@{
	Html.EnableClientValidation(true);
	Html.EnableUnobtrusiveJavaScript(true);
}

@if (Model.Banner != null)
{
	Html.RenderAction<LayoutController>(c => nameof(c.Banner), new { viewModel = Model.Banner });
}

<section class="contact-content">
	<div class="wrapper">
		<div class="left-col">
			@if (Model.Image != null)
			{
				<div class="image-holder">
					<img src="@Model.Image.Url" alt="@Model.Image.AlternateText" />
				</div>
			}
			@if (!string.IsNullOrWhiteSpace(Model.ContactInfo))
			{
				<div class="rte-content">
					@Html.Raw(Model.ContactInfo)
				</div>
			}

		</div>
		<div class="right-col">
			<div class="contact-form-wrap">
				<h2>@Model.WriteUs.Title</h2>
				@{
					Html.RenderAction<ContactFormController>(c => nameof(c.ContactForm));
				}
			</div>
		</div>
	</div>
</section>
