@inherits UmbracoViewPage<Error404ViewModel>

<section class="hero-banner-slider js-her-banner-slider">
	<div class="item" style="background-image: url(assets/img/content/homepage-hero.jpg)">
		<div class="wrapper">
			<div class="hero-slider-text-holder">
				<h2>21114 Film fest</h2>
				<p>
					Faucibus suscipit sagittis, et tempus, id nam et nam. Viverra eros hendrerit purus mauris enim est. Tristique amet eget mauris turpis nulla enim. A dictum in nibh leo. Enim amet elementum ultrices condimentum sem elit. In sit velit, eu arcu. Congue integer nisi.
				</p>
				<a href="javascript:;" class="btn">Saznaj više</a>
			</div>
		</div>
	</div>
	<div class="item" style="background-image: url(assets/img/content/homepage-hero-02.jpg)">
		<div class="wrapper">
			<div class="hero-slider-text-holder">
				<h2>Slide 2 Film fest</h2>
				<p>
					Faucibus suscipit sagittis, et tempus, id nam et nam. Viverra eros hendrerit purus mauris enim est. Tristique amet eget mauris turpis nulla enim. A dictum in nibh leo. Enim amet elementum ultrices condimentum sem elit. In sit velit, eu arcu. Congue integer nisi.
				</p>
				<a href="javascript:;" class="btn">Saznaj više</a>
			</div>
		</div>
	</div>
	<div class="item" style="background-image: url(assets/img/content/homepage-hero-03.jpg)">
		<div class="wrapper">
			<div class="hero-slider-text-holder">
				<h2>Slide 3 Film fest</h2>
				<p>
					Faucibus suscipit sagittis, et tempus, id nam et nam. Viverra eros hendrerit purus mauris enim est. Tristique amet eget mauris turpis nulla enim. A dictum in nibh leo. Enim amet elementum ultrices condimentum sem elit. In sit velit, eu arcu. Congue integer nisi.
				</p>
				<a href="javascript:;" class="btn">Saznaj više</a>
			</div>
		</div>
	</div>
</section>

<section class="four-highlighted-block">
	<div class="wrapper">
		<h2 class="section-title">Istaknuti projekti</h2>
		<div class="cols-wrap">
			<div class="col">
				<div class="image-holder">
					<img src="assets/img/content/projects-01.png" class="image-regular" alt=""/>
					<img src="assets/img/content/projects-01-hover.png" class="image-hover" alt=""/>
				</div>
				<div class="text-holder">
					<h3>Produkcija</h3>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Neque, diam lectus sit donec vitae dictum lorem adipiscing pellentesque.
					</p>
					<a href="javascript:;" class="btn">Saznaj više</a>
				</div>
			</div>
			<div class="col">
				<div class="image-holder">
					<img src="assets/img/content/projects-02.png" class="image-regular" alt=""/>
					<img src="assets/img/content/projects-02-hover.png" class="image-hover" alt=""/>
				</div>
				<div class="text-holder">
					<h3>Edukacija</h3>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Neque, diam lectus sit donec vitae dictum lorem adipiscing pellentesque.
					</p>
					<a href="javascript:;" class="btn">Saznaj više</a>
				</div>
			</div>
			<div class="col">
				<div class="image-holder">
					<img src="assets/img/content/projects-03.png" class="image-regular" alt=""/>
					<img src="assets/img/content/projects-03-hover.png" class="image-hover" alt=""/>
				</div>
				<div class="text-holder">
					<h3>Participacija</h3>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Neque, diam lectus sit donec vitae dictum lorem adipiscing pellentesque.
					</p>
					<a href="javascript:;" class="btn">Saznaj više</a>
				</div>
			</div>
			<div class="col">
				<div class="image-holder">
					<img src="assets/img/content/projects-04.png" class="image-regular" alt=""/>
					<img src="assets/img/content/projects-04-hover.png" class="image-hover" alt=""/>
				</div>
				<div class="text-holder">
					<h3>Akcija</h3>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Neque, diam lectus sit donec vitae dictum lorem adipiscing pellentesque.
					</p>
					<a href="javascript:;" class="btn">Saznaj više</a>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="mission-carousel-block" style="background-image: url(assets/img/content/mission-background.jpg);">
	<div class="wrapper">
		<h2 class="section-title">Misija</h2>
		<div class="mission-slider js-mission-slider">
			<div class="item">
				<h3>Prenesi dalje</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Et metus vitae integer at.</p>
				<a href="javascript:;" class="btn btn-white">Saznaj više</a>
			</div>
			<div class="item">
				<h3>Na putu za HC</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Et metus vitae integer at.</p>
				<a href="javascript:;" class="btn btn-white">Saznaj više</a>
			</div>
			<div class="item">
				<h3>Samo siđite</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Et metus vitae integer at.</p>
				<a href="javascript:;" class="btn btn-white">Saznaj više</a>
			</div>
			<div class="item">
				<h3>Useljenje</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Et metus vitae integer at.</p>
				<a href="javascript:;" class="btn btn-white">Saznaj više</a>
			</div>
			<div class="item">
				<h3>Prenesi jos dalje i bolje</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Et metus vitae integer at.</p>
				<a href="javascript:;" class="btn btn-white">Saznaj više</a>
			</div>
			<div class="item">
				<h3>Na putu za HC sreo sam nekoga</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Et metus vitae integer at.</p>
				<a href="javascript:;" class="btn btn-white">Saznaj više</a>
			</div>
			<div class="item">
				<h3>Samo siđite na livadu</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Et metus vitae integer at.</p>
				<a href="javascript:;" class="btn btn-white">Saznaj više</a>
			</div>
			<div class="item">
				<h3>Useljenje u KC</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Et metus vitae integer at.</p>
				<a href="javascript:;" class="btn btn-white">Saznaj više</a>
			</div>
		</div>
	</div>
</section>

<section class="contact-form">
	<div class="wrapper">
		<div class="contact-form-wrap">
			<h2>Hej, pišite nam ovde</h2>
			<form action="#">
				<fieldset>
					<div class="input-wrap">
						<input type="text" id="contactName" placeholder="Ime i Prezime"/>
						<label for="contactName" class="sr-only">Ime i Prezime</label>
					</div>
					<div class="input-wrap">
						<input type="text" id="contactEmail" placeholder="E-mail"/>
						<label for="contactEmail" class="sr-only">E-mail</label>
					</div>
					<div class="input-wrap input-wrap-fullwidth">
						<textarea id="contactMessage" placeholder="Poruka"></textarea>
						<label for="contactMessage" class="sr-only">Poruka</label>
					</div>
					<div class="input-submit-wrap">
						<button type="submit" class="btn">Pošalji</button>
					</div>
				</fieldset>
			</form>
		</div>
	</div>
</section>

<section class="title-with-logos-block">
	<div class="wrapper">
		<h2 class="section-title">Ćerke firme</h2>
		<div class="three-cols">
			<div class="col">
				<a href="javascript:;" class="image-holder">
					<img src="assets/img/content/logo-kurbla-color.png" alt=""/>
				</a>
			</div>
			<div class="col">
				<a href="javascript:;" class="image-holder">
					<img src="assets/img/content/logo-nkn-klub.png" alt=""/>
				</a>
			</div>
			<div class="col">
				<a href="javascript:;" class="image-holder">
					<img src="assets/img/content/logo-trange-frange-color.png" alt=""/>
				</a>
			</div>
		</div>
	</div>
</section>
