@inherits UmbracoViewPage<GalleryViewModel>

@if (Model.ImageAlbums.Any())
{
	<div>Albumi</div>
	foreach (var album in Model.ImageAlbums)
	{
		<div>@album.Title</div>
		foreach (var image in album.Images)
		{
			<img src="@image.Url" />
		}
	}
}

@if (Model.VideoLinks.Any())
{
	<div>Video</div>
	foreach (var videoLink in Model.VideoLinks)
	{
		<iframe width="560" height="315" src="@videoLink" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
	}
}

