@inherits UmbracoViewPage<GalleryViewModel>

<!-- TODO-from-Tijana replace this hardcoded banner with the real one -->
<section class="hero-banner" style="background-image: url('/media/1veno0ix/hero-banner.png');">
	<div class="wrapper">
		<h1 class="page-title">Galerija</h1>
	</div>
</section>

<!-- TODO-from-Tijana hardcoded image gallery -->
<section class="gallery-block">
	<div class="wrapper">
		<h2 class="gallery-section-title">Albumi</h2>
		<div class="gallery-slider js-album-slider">
			<div class="item">
				<h3>Naslov albuma #1</h3>
				<a href="javascript:;" class="gallery-image-holder" style="background-image: url(/assets/img/content/gallery-medju-brezama.png);">
					<span class="sr-only">Click here to see album</span>
				</a>
			</div>
			<div class="item">
				<h3>Naslov albuma #2</h3>
				<a href="javascript:;" class="gallery-image-holder" style="background-image: url(/assets/img/content/gallery-medju-brezama.png);">
					<span class="sr-only">Click here to see album</span>
				</a>
			</div>
			<div class="item">
				<h3>Naslov albuma #3</h3>
				<a href="javascript:;" class="gallery-image-holder" style="background-image: url(/assets/img/content/gallery-medju-brezama.png);">
					<span class="sr-only">Click here to see album</span>
				</a>
			</div>
			<div class="item">
				<h3>Naslov albuma #4</h3>
				<a href="javascript:;" class="gallery-image-holder" style="background-image: url(/assets/img/content/gallery-medju-brezama.png);">
					<span class="sr-only">Click here to see album</span>
				</a>
			</div>
			<div class="item">
				<h3>Naslov albuma #5</h3>
				<a href="javascript:;" class="gallery-image-holder" style="background-image: url(/assets/img/content/gallery-medju-brezama.png);">
					<span class="sr-only">Click here to see album</span>
				</a>
			</div>
			<div class="item">
				<h3>Naslov albuma #6</h3>
				<a href="javascript:;" class="gallery-image-holder" style="background-image: url(/assets/img/content/gallery-medju-brezama.png);">
					<span class="sr-only">Click here to see album</span>
				</a>
			</div>
			<div class="item">
				<h3>Naslov albuma #7</h3>
				<a href="javascript:;" class="gallery-image-holder" style="background-image: url(/assets/img/content/gallery-medju-brezama.png);">
					<span class="sr-only">Click here to see album</span>
				</a>
			</div>
			<div class="item">
				<h3>Naslov albuma #8</h3>
				<a href="javascript:;" class="gallery-image-holder" style="background-image: url(/assets/img/content/gallery-medju-brezama.png);">
					<span class="sr-only">Click here to see album</span>
				</a>
			</div>
			<div class="item">
				<h3>Naslov albuma #9</h3>
				<a href="javascript:;" class="gallery-image-holder" style="background-image: url(/assets/img/content/gallery-medju-brezama.png);">
					<span class="sr-only">Click here to see album</span>
				</a>
			</div>
			<div class="item">
				<h3>Naslov albuma #10</h3>
				<a href="javascript:;" class="gallery-image-holder" style="background-image: url(/assets/img/content/gallery-medju-brezama.png);">
					<span class="sr-only">Click here to see album</span>
				</a>
			</div>
			<div class="item">
				<h3>Naslov albuma #11</h3>
				<a href="javascript:;" class="gallery-image-holder" style="background-image: url(/assets/img/content/gallery-medju-brezama.png);">
					<span class="sr-only">Click here to see album</span>
				</a>
			</div>
			<div class="item">
				<h3>Naslov albuma #12</h3>
				<a href="javascript:;" class="gallery-image-holder" style="background-image: url(/assets/img/content/gallery-medju-brezama.png);">
					<span class="sr-only">Click here to see album</span>
				</a>
			</div>
			<div class="item">
				<h3>Naslov albuma #13</h3>
				<a href="javascript:;" class="gallery-image-holder" style="background-image: url(/assets/img/content/gallery-medju-brezama.png);">
					<span class="sr-only">Click here to see album</span>
				</a>
			</div>
			<div class="item">
				<h3>Naslov albuma #14</h3>
				<a href="javascript:;" class="gallery-image-holder" style="background-image: url(/assets/img/content/gallery-medju-brezama.png);">
					<span class="sr-only">Click here to see album</span>
				</a>
			</div>
			<div class="item">
				<h3>Naslov albuma #15</h3>
				<a href="javascript:;" class="gallery-image-holder" style="background-image: url(/assets/img/content/gallery-medju-brezama.png);">
					<span class="sr-only">Click here to see album</span>
				</a>
			</div>
			<div class="item">
				<h3>Naslov albuma #16</h3>
				<a href="javascript:;" class="gallery-image-holder" style="background-image: url(/assets/img/content/gallery-medju-brezama.png);">
					<span class="sr-only">Click here to see album</span>
				</a>
			</div>
			<div class="item">
				<h3>Naslov albuma #17</h3>
				<a href="javascript:;" class="gallery-image-holder" style="background-image: url(/assets/img/content/gallery-medju-brezama.png);">
					<span class="sr-only">Click here to see album</span>
				</a>
			</div>
			<div class="item">
				<h3>Naslov albuma #18</h3>
				<a href="javascript:;" class="gallery-image-holder" style="background-image: url(/assets/img/content/gallery-medju-brezama.png);">
					<span class="sr-only">Click here to see album</span>
				</a>
			</div>
			<div class="item">
				<h3>Naslov albuma #19</h3>
				<a href="javascript:;" class="gallery-image-holder" style="background-image: url(/assets/img/content/gallery-medju-brezama.png);">
					<span class="sr-only">Click here to see album</span>
				</a>
			</div>
			<div class="item">
				<h3>Naslov albuma #20</h3>
				<a href="javascript:;" class="gallery-image-holder" style="background-image: url(/assets/img/content/gallery-medju-brezama.png);">
					<span class="sr-only">Click here to see album</span>
				</a>
			</div>
			<div class="item">
				<h3>Naslov albuma #21</h3>
				<a href="javascript:;" class="gallery-image-holder" style="background-image: url(/assets/img/content/gallery-medju-brezama.png);">
					<span class="sr-only">Click here to see album</span>
				</a>
			</div>
			<div class="item">
				<h3>Naslov albuma #22</h3>
				<a href="javascript:;" class="gallery-image-holder" style="background-image: url(/assets/img/content/gallery-medju-brezama.png);">
					<span class="sr-only">Click here to see album</span>
				</a>
			</div>
			<div class="item">
				<h3>Naslov albuma #23</h3>
				<a href="javascript:;" class="gallery-image-holder" style="background-image: url(/assets/img/content/gallery-medju-brezama.png);">
					<span class="sr-only">Click here to see album</span>
				</a>
			</div>
			<div class="item">
				<h3>Naslov albuma #24</h3>
				<a href="javascript:;" class="gallery-image-holder" style="background-image: url(/assets/img/content/gallery-medju-brezama.png);">
					<span class="sr-only">Click here to see album</span>
				</a>
			</div>
			<div class="item">
				<h3>Naslov albuma #25</h3>
				<a href="javascript:;" class="gallery-image-holder" style="background-image: url(/assets/img/content/gallery-medju-brezama.png);">
					<span class="sr-only">Click here to see album</span>
				</a>
			</div>
			<div class="item">
				<h3>Naslov albuma #26</h3>
				<a href="javascript:;" class="gallery-image-holder" style="background-image: url(/assets/img/content/gallery-medju-brezama.png);">
					<span class="sr-only">Click here to see album</span>
				</a>
			</div>
			<div class="item">
				<h3>Naslov albuma #27</h3>
				<a href="javascript:;" class="gallery-image-holder" style="background-image: url(/assets/img/content/gallery-medju-brezama.png);">
					<span class="sr-only">Click here to see album</span>
				</a>
			</div>
			<div class="item">
				<h3>Naslov albuma #28</h3>
				<a href="javascript:;" class="gallery-image-holder" style="background-image: url(/assets/img/content/gallery-medju-brezama.png);">
					<span class="sr-only">Click here to see album</span>
				</a>
			</div>
			<div class="item">
				<h3>Naslov albuma #29</h3>
				<a href="javascript:;" class="gallery-image-holder" style="background-image: url(/assets/img/content/gallery-medju-brezama.png);">
					<span class="sr-only">Click here to see album</span>
				</a>
			</div>
			<div class="item">
				<h3>Naslov albuma #30</h3>
				<a href="javascript:;" class="gallery-image-holder" style="background-image: url(/assets/img/content/gallery-medju-brezama.png);">
					<span class="sr-only">Click here to see album</span>
				</a>
			</div>
			<div class="item">
				<h3>Naslov albuma #31</h3>
				<a href="javascript:;" class="gallery-image-holder" style="background-image: url(/assets/img/content/gallery-medju-brezama.png);">
					<span class="sr-only">Click here to see album</span>
				</a>
			</div>
		</div>
	</div>
</section>

<!-- TODO-from-Tijana hardcoded -->
<!-- "image-gallery-detail" should be on gallery details page -->
<!-- <section class="image-gallery-detail">
	<div class="wrapper">
		<h2 class="gallery-section-title">Naslov albuma #1</h2>
		<div class="album-list js-album-list">
			<div class="item">
				<a href="javascript:;" class="gallery-image-holder js-gallery-detail-item" style="background-image: url(/assets/img/content/gallery-medju-brezama.png);">
					<span class="sr-only">Click here to see image</span>
				</a>
			</div>
			<div class="item">
				<a href="javascript:;" class="gallery-image-holder js-gallery-detail-item" style="background-image: url(/assets/img/content/gallery-medju-brezama.png);">
					<span class="sr-only">Click here to see image</span>
				</a>
			</div>
			<div class="item">
				<a href="javascript:;" class="gallery-image-holder js-gallery-detail-item" style="background-image: url(/assets/img/content/gallery-medju-brezama.png);">
					<span class="sr-only">Click here to see image</span>
				</a>
			</div>
			<div class="item">
				<a href="javascript:;" class="gallery-image-holder js-gallery-detail-item" style="background-image: url(/assets/img/content/gallery-medju-brezama.png);">
					<span class="sr-only">Click here to see image</span>
				</a>
			</div>
			<div class="item">
				<a href="javascript:;" class="gallery-image-holder js-gallery-detail-item" style="background-image: url(/assets/img/content/gallery-medju-brezama.png);">
					<span class="sr-only">Click here to see image</span>
				</a>
			</div>
			<div class="item">
				<a href="javascript:;" class="gallery-image-holder js-gallery-detail-item" style="background-image: url(/assets/img/content/gallery-medju-brezama.png);">
					<span class="sr-only">Click here to see image</span>
				</a>
			</div>
			<div class="item">
				<a href="javascript:;" class="gallery-image-holder js-gallery-detail-item" style="background-image: url(/assets/img/content/gallery-medju-brezama.png);">
					<span class="sr-only">Click here to see image</span>
				</a>
			</div>
			<div class="item">
				<a href="javascript:;" class="gallery-image-holder js-gallery-detail-item" style="background-image: url(/assets/img/content/gallery-medju-brezama.png);">
					<span class="sr-only">Click here to see image</span>
				</a>
			</div>
			<div class="item">
				<a href="javascript:;" class="gallery-image-holder js-gallery-detail-item" style="background-image: url(/assets/img/content/gallery-medju-brezama.png);">
					<span class="sr-only">Click here to see image</span>
				</a>
			</div>
			<div class="item">
				<a href="javascript:;" class="gallery-image-holder js-gallery-detail-item" style="background-image: url(/assets/img/content/gallery-medju-brezama.png);">
					<span class="sr-only">Click here to see image</span>
				</a>
			</div>
			<div class="item">
				<a href="javascript:;" class="gallery-image-holder js-gallery-detail-item" style="background-image: url(/assets/img/content/gallery-medju-brezama.png);">
					<span class="sr-only">Click here to see image</span>
				</a>
			</div>
		</div>

		<div class="popup js-popup">
			<span class="popup-overlay js-popup-overlay"></span>
			<button type="button" class="popup-close js-popup-close"><span class="sr-only">Click here to close popup</span></button>
			<div class="popup-content js-popup-content">
				<div class="popup-image-slider js-popup-image-slider">
					<div class="slider-item">
						<img src="/assets/img/content/gallery-medju-brezama.png" alt="" />
					</div>
					<div class="slider-item">
						<img src="/assets/img/content/gallery-medju-brezama.png" alt="" />
					</div>
					<div class="slider-item">
						<img src="/assets/img/content/gallery-medju-brezama.png" alt="" />
					</div>
					<div class="slider-item">
						<img src="/assets/img/content/gallery-medju-brezama.png" alt="" />
					</div>
					<div class="slider-item">
						<img src="/assets/img/content/gallery-medju-brezama.png" alt="" />
					</div>
					<div class="slider-item">
						<img src="/assets/img/content/gallery-medju-brezama.png" alt="" />
					</div>
					<div class="slider-item">
						<img src="/assets/img/content/gallery-medju-brezama.png" alt="" />
					</div>
					<div class="slider-item">
						<img src="/assets/img/content/gallery-medju-brezama.png" alt="" />
					</div>
					<div class="slider-item">
						<img src="/assets/img/content/gallery-medju-brezama.png" alt="" />
					</div>
					<div class="slider-item">
						<img src="/assets/img/content/gallery-medju-brezama.png" alt="" />
					</div>
					<div class="slider-item">
						<img src="/assets/img/content/gallery-medju-brezama.png" alt="" />
					</div>
				</div>
			</div>
		</div>
	</div>
</section> -->

<!-- TODO-from-Tijana hardcoded contact form -->
<section class="contact-form">
	<div class="contact-background" style="background-image:url(/media/igbjh4dt/mission-background.jpg)">
		<span class="green-overlay"></span>
	</div>
	<div class="wrapper">
		<div class="contact-form-wrap">
			<h2>Hej, pišite nam ovde!</h2>
			<form id="contact-us" action="#">
				<fieldset>
					<div class="fieldset-inner">
						<div class="input-wrap">
							<input type="text" id="contactName" name="name" placeholder="Ime i Prezime">
							<label for="contactName" class="sr-only">Ime i Prezime</label>
						</div>
						<div class="input-wrap">
							<input type="text" id="contactEmail" name="email" placeholder="E-mail">
							<label for="contactEmail" class="sr-only">E-mail</label>
						</div>
						<div class="input-wrap input-wrap-fullwidth">
							<textarea id="contactMessage" name="message" placeholder="Poruka"></textarea>
							<label for="contactMessage" class="sr-only">Poruka</label>
						</div>
						<span class="contact-form-error js-error-message"></span>
						<span class="contact-form-success js-success-message">Hvala vam sto ste nas kontaktirali</span>
						<div class="input-submit-wrap">
							<button type="submit" id="contact-us-submit" class="btn">Pošalji</button>
						</div>
					</div>
				</fieldset>
			</form>
		</div>
	</div>
</section>

<!-- TODO-from-Tijana hardcoded video gallery -->
<section class="gallery-block">
	<div class="wrapper">
		<h2 class="gallery-section-title">Video</h2>
		<div class="gallery-slider js-video-slider">
			<div class="item">
				<h3>Naslov videa #1</h3>
				<a href="javascript:;" class="gallery-image-holder js-gallert-video-thumbnail" data-src="https://www.youtube.com/embed/SPq_3KNANQc" style="background-image: url(/assets/img/content/gallery-medju-brezama.png);">
					<span class="sr-only">Click here to open a popup with video</span>
					<span class="icon font-ico-play"></span>
				</a>
			</div>
			<div class="item">
				<h3>Naslov videa #1</h3>
				<a href="javascript:;" class="gallery-image-holder js-gallert-video-thumbnail" data-src="https://www.youtube.com/embed/SPq_3KNANQc" style="background-image: url(/assets/img/content/gallery-medju-brezama.png);">
					<span class="sr-only">Click here to open a popup with video</span>
					<span class="icon font-ico-play"></span>
				</a>
			</div>
			<div class="item">
				<h3>Naslov videa #1</h3>
				<a href="javascript:;" class="gallery-image-holder js-gallert-video-thumbnail" data-src="https://www.youtube.com/embed/SPq_3KNANQc" style="background-image: url(/assets/img/content/gallery-medju-brezama.png);">
					<span class="sr-only">Click here to open a popup with video</span>
					<span class="icon font-ico-play"></span>
				</a>
			</div>
			<div class="item">
				<h3>Naslov videa #1</h3>
				<a href="javascript:;" class="gallery-image-holder js-gallert-video-thumbnail" data-src="https://www.youtube.com/embed/SPq_3KNANQc" style="background-image: url(/assets/img/content/gallery-medju-brezama.png);">
					<span class="sr-only">Click here to open a popup with video</span>
					<span class="icon font-ico-play"></span>
				</a>
			</div>
			<div class="item">
				<h3>Naslov videa #1</h3>
				<a href="javascript:;" class="gallery-image-holder js-gallert-video-thumbnail" data-src="https://www.youtube.com/embed/SPq_3KNANQc" style="background-image: url(/assets/img/content/gallery-medju-brezama.png);">
					<span class="sr-only">Click here to open a popup with video</span>
					<span class="icon font-ico-play"></span>
				</a>
			</div>
			<div class="item">
				<h3>Naslov videa #1</h3>
				<a href="javascript:;" class="gallery-image-holder js-gallert-video-thumbnail" data-src="https://www.youtube.com/embed/SPq_3KNANQc" style="background-image: url(/assets/img/content/gallery-medju-brezama.png);">
					<span class="sr-only">Click here to open a popup with video</span>
					<span class="icon font-ico-play"></span>
				</a>
			</div>
			<div class="item">
				<h3>Naslov videa #1</h3>
				<a href="javascript:;" class="gallery-image-holder js-gallert-video-thumbnail" data-src="https://www.youtube.com/embed/SPq_3KNANQc" style="background-image: url(/assets/img/content/gallery-medju-brezama.png);">
					<span class="sr-only">Click here to open a popup with video</span>
					<span class="icon font-ico-play"></span>
				</a>
			</div>
			<div class="item">
				<h3>Naslov videa #1</h3>
				<a href="javascript:;" class="gallery-image-holder js-gallert-video-thumbnail" data-src="https://www.youtube.com/embed/SPq_3KNANQc" style="background-image: url(/assets/img/content/gallery-medju-brezama.png);">
					<span class="sr-only">Click here to open a popup with video</span>
					<span class="icon font-ico-play"></span>
				</a>
			</div>
			<div class="item">
				<h3>Naslov videa #1</h3>
				<a href="javascript:;" class="gallery-image-holder js-gallert-video-thumbnail" data-src="https://www.youtube.com/embed/SPq_3KNANQc" style="background-image: url(/assets/img/content/gallery-medju-brezama.png);">
					<span class="sr-only">Click here to open a popup with video</span>
					<span class="icon font-ico-play"></span>
				</a>
			</div>
			<div class="item">
				<h3>Naslov videa #1</h3>
				<a href="javascript:;" class="gallery-image-holder js-gallert-video-thumbnail" data-src="https://www.youtube.com/embed/SPq_3KNANQc" style="background-image: url(/assets/img/content/gallery-medju-brezama.png);">
					<span class="sr-only">Click here to open a popup with video</span>
					<span class="icon font-ico-play"></span>
				</a>
			</div>
		</div>

		<div class="popup js-popup">
			<span class="popup-overlay js-popup-overlay"></span>
			<button type="button" class="popup-close js-popup-close"><span class="sr-only">Click here to close popup</span></button>
			<div class="popup-content js-popup-content">
				<div class="responsive-video">
					<iframe class="js-gallery-video-iframe" width="560" height="315" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
			</div>
		</div>
	</div>
</section>

<!--
@if (Model.ImageAlbums.Any())
{
	<div>Albumi</div>
	foreach (var album in Model.ImageAlbums)
	{
		<div>@album.Title</div>
		foreach (var image in album.Images)
		{
			<img src="@image.Url" />
		}
	}
}

@if (Model.VideoLinks.Any())
{
	<div>Video</div>
	foreach (var videoLink in Model.VideoLinks)
	{
		<iframe width="560" height="315" src="@videoLink" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
	}
}
-->