@inherits UmbracoViewPage<HomeViewModel>

<section class="hero-banner-slider js-her-banner-slider">
	<div class="item" style="background-image: url(assets/img/content/homepage-hero.jpg)">
		<div class="wrapper">
			<div class="hero-slider-text-holder">
				<h2>21114 Film fest</h2>
				<p>
					Faucibus suscipit sagittis, et tempus, id nam et nam. Viverra eros hendrerit purus mauris enim est. Tristique amet eget mauris turpis nulla enim. A dictum in nibh leo. Enim amet elementum ultrices condimentum sem elit. In sit velit, eu arcu. Congue integer nisi.
				</p>
				<a href="javascript:;" class="btn">Saznaj više</a>
			</div>
		</div>
	</div>
	<div class="item" style="background-image: url(assets/img/content/homepage-hero-02.jpg)">
		<div class="wrapper">
			<div class="hero-slider-text-holder">
				<h2>Slide 2 Film fest</h2>
				<p>
					Faucibus suscipit sagittis, et tempus, id nam et nam. Viverra eros hendrerit purus mauris enim est. Tristique amet eget mauris turpis nulla enim. A dictum in nibh leo. Enim amet elementum ultrices condimentum sem elit. In sit velit, eu arcu. Congue integer nisi.
				</p>
				<a href="javascript:;" class="btn">Saznaj više</a>
			</div>
		</div>
	</div>
	<div class="item" style="background-image: url(assets/img/content/homepage-hero-03.jpg)">
		<div class="wrapper">
			<div class="hero-slider-text-holder">
				<h2>Slide 3 Film fest</h2>
				<p>
					Faucibus suscipit sagittis, et tempus, id nam et nam. Viverra eros hendrerit purus mauris enim est. Tristique amet eget mauris turpis nulla enim. A dictum in nibh leo. Enim amet elementum ultrices condimentum sem elit. In sit velit, eu arcu. Congue integer nisi.
				</p>
				<a href="javascript:;" class="btn">Saznaj više</a>
			</div>
		</div>
	</div>
</section>
