@inherits UmbracoViewPage<HomeViewModel>

@foreach (var item in Model.ContentBlocks)
{
	Html.RenderAction<NestedContentController>(c => nameof(c.Index), new { viewModel = item });
}

<section class="contact-form">
	<div class="wrapper">
		<div class="contact-form-wrap">
			<h2>Hej, pišite nam ovde</h2>
			<form action="#">
				<fieldset>
					<div class="input-wrap">
						<input type="text" id="contactName" placeholder="Ime i Prezime" />
						<label for="contactName" class="sr-only">Ime i Prezime</label>
					</div>
					<div class="input-wrap">
						<input type="text" id="contactEmail" placeholder="E-mail" />
						<label for="contactEmail" class="sr-only">E-mail</label>
					</div>
					<div class="input-wrap input-wrap-fullwidth">
						<textarea id="contactMessage" placeholder="Poruka"></textarea>
						<label for="contactMessage" class="sr-only">Poruka</label>
					</div>
					<div class="input-submit-wrap">
						<button type="submit" class="btn">Pošalji</button>
					</div>
				</fieldset>
			</form>
		</div>
	</div>
</section>

<section class="title-with-logos-block">
	<div class="wrapper">
		<h2 class="section-title">Ćerke firme</h2>
		<div class="three-cols">
			<div class="col">
				<a href="javascript:;" class="image-holder">
					<img src="assets/img/content/logo-kurbla-color.png" alt="" />
				</a>
			</div>
			<div class="col">
				<a href="javascript:;" class="image-holder">
					<img src="assets/img/content/logo-nkn-klub.png" alt="" />
				</a>
			</div>
			<div class="col">
				<a href="javascript:;" class="image-holder">
					<img src="assets/img/content/logo-trange-frange-color.png" alt="" />
				</a>
			</div>
		</div>
	</div>
</section>
