@inherits UmbracoViewPage<NewsLandingViewModel>
@using Constants = NKN.Core.Constants.Constants

@if (Model.Banner != null)
{

	Html.RenderAction<LayoutController>(c => nameof(c.Banner), new { viewModel = Model.Banner });

}

@if (Model.IsArchive)
{

	Html.RenderPartial("_NewsArchive");
}
else
{
	<section class="feed-wrapper news-wrapper news-top-wrapper">
		<div class="wrapper">
			<div class="feed-list">
				@foreach (var newsPreview in Model.FirstRowNews)
				{
					if (newsPreview != null)
					{
						Html.RenderPartial("_NewsDetailPreview", newsPreview);
					}
				}
			</div>
			@{Html.RenderPartial("_NewsDetailHighlightedPreview", Model.HighlightedNewsPreview);}
		</div>
	</section>

	<section class="feed-wrapper news-wrapper">
		<div class="wrapper">
			<div class="feed-list">
				@foreach (var newsPreview in Model.SecondRowNews)
				{
					if (newsPreview != null)
					{
						Html.RenderPartial("_NewsDetailPreview", newsPreview);
					}
				}
			</div>
		</div>
	</section>

	if (Model.ContactBlock != null)
	{
		Html.RenderAction<NestedContentController>(c => nameof(c.WriteUs), new { viewModel = Model.ContactBlock });
	}

	<section class="feed-wrapper news-wrapper">
		<div class="wrapper">
			<div class="feed-list">
				@foreach (var newsPreview in Model.LastRowItems)
				{
					if (newsPreview != null)
					{
						Html.RenderPartial("_NewsDetailPreview", newsPreview);
					}
				}
			</div>
		</div>
	</section>

	<div class="feed-load-more">
		<div class="wrapper">
			@if (Model.ArchiveNews != null && Model.ArchiveNews.Any())
			{
				<a href="@Model.PageUrl?q=archive" target="_blank" class="btn">@UmbracoDictionary.NewsLanding.Archive</a>
			}
		</div>

	</div>



}

