@inherits UmbracoViewPage<NewsLandingViewModel>

@if (Model.Banner != null)
{

	Html.RenderAction<LayoutController>(c => nameof(c.Banner), new { viewModel = Model.Banner });

}

<section class="feed-wrapper news-wrapper news-top-wrapper">
	<div class="wrapper">
		<div class="feed-list">
			@{
				var itemCount = Model.NewsPreviews.Count() > 2 ? 3 : Model.NewsPreviews.Count();
			}
			@foreach (var newsPreview in Model.NewsPreviews.Take(itemCount))
			{
				if (newsPreview != null)
				{
					Html.RenderPartial("_NewsDetailPreview", newsPreview);
				}
			}
		</div>
		@{Html.RenderPartial("_NewsDetailHighlightedPreview", Model.HighlightedNewsPreview);}
	</div>
</section>

<!-- TODO-from-Tijana here should go contact form with background block -->

<section class="feed-wrapper news-wrapper">
	<div class="wrapper">
		<div class="feed-list">
			@foreach (var newsPreview in Model.NewsPreviews.Skip(itemCount))
			{
				if (newsPreview != null)
				{
					Html.RenderPartial("_NewsDetailPreview", newsPreview);
				}
			}
		</div>
	</div>
</section>
