@inherits UmbracoViewPage<StandardContentPageViewModel>
@{
	Html.EnableClientValidation(true);
	Html.EnableUnobtrusiveJavaScript(true);
}

@if (Model.Banner != null)
{
	Html.RenderAction<LayoutController>(c => nameof(c.Banner), new { viewModel = Model.Banner });
}

@foreach (var item in Model.Items)
{
	Html.RenderAction<NestedContentController>(c => nameof(c.Index), new { viewModel = item });
}


<!-- TODO-from-Tijana hardcoded image and video block -->
<section class="gallery-mixed-block js-gallery-mixed-block"" style="background-image: url('/assets/img/content/homepage-hero.jpg')">
	<span class="green-overlay"></span>
	<div class="wrapper">
		<h2 class="section-title">Galerija</h2>
		<div class="row">
			<h3>Foto</h3>
			<div class="mixed-image-gallery js-slider js-mixed-image-slider">
				<div class="item">
					<a href="javascript:;" class="gallery-image-holder js-mixed-image-gallery-item" style="background-image: url('/assets/img/content/gallery-medju-brezama.png')">
						<span class="sr-only">Click here to open a popup with images</span>
					</a>
				</div>
				<div class="item">
					<a href="javascript:;" class="gallery-image-holder js-mixed-image-gallery-item" style="background-image: url('/assets/img/content/gallery-medju-brezama.png')">
						<span class="sr-only">Click here to open a popup with images</span>
					</a>
				</div>
				<div class="item">
					<a href="javascript:;" class="gallery-image-holder js-mixed-image-gallery-item" style="background-image: url('/assets/img/content/gallery-medju-brezama.png')">
						<span class="sr-only">Click here to open a popup with images</span>
					</a>
				</div>
				<div class="item">
					<a href="javascript:;" class="gallery-image-holder js-mixed-image-gallery-item" style="background-image: url('/assets/img/content/gallery-medju-brezama.png')">
						<span class="sr-only">Click here to open a popup with images</span>
					</a>
				</div>
				<div class="item">
					<a href="javascript:;" class="gallery-image-holder js-mixed-image-gallery-item" style="background-image: url('/assets/img/content/gallery-medju-brezama.png')">
						<span class="sr-only">Click here to open a popup with images</span>
					</a>
				</div>
				<div class="item">
					<a href="javascript:;" class="gallery-image-holder js-mixed-image-gallery-item" style="background-image: url('/assets/img/content/gallery-medju-brezama.png')">
						<span class="sr-only">Click here to open a popup with images</span>
					</a>
				</div>
				<div class="item">
					<a href="javascript:;" class="gallery-image-holder js-mixed-image-gallery-item" style="background-image: url('/assets/img/content/gallery-medju-brezama.png')">
						<span class="sr-only">Click here to open a popup with images</span>
					</a>
				</div>
			</div>
		</div>
		<div class="row">
			<h3>Video</h3>
			<div class="mixed-video-gallery js-slider js-mixed-video-slider">
				<div class="item">
					<a href="javascript:;" class="gallery-image-holder js-gallery-video-thumbnail" data-src="https://www.youtube.com/embed/I8mVC2kyMeo" style="background-image: url('/assets/img/content/gallery-medju-brezama.png')">
						<span class="sr-only">Click here to open a popup with video</span>
						<span class="icon font-ico-play"></span>
						<h4>Park "medju brezama"</h4>
					</a>
				</div>
				<div class="item">
					<a href="javascript:;" class="gallery-image-holder js-gallery-video-thumbnail" data-src="https://www.youtube.com/embed/I8mVC2kyMeo" style="background-image: url('/assets/img/content/homepage-hero.jpg')">
						<span class="sr-only">Click here to open a popup with video</span>
						<span class="icon font-ico-play"></span>
						<h4>Park "medju brezama"</h4>
					</a>
				</div>
				<div class="item">
					<a href="javascript:;" class="gallery-image-holder js-gallery-video-thumbnail" data-src="https://www.youtube.com/embed/I8mVC2kyMeo" style="background-image: url('/assets/img/content/gallery-medju-brezama.png')">
						<span class="sr-only">Click here to open a popup with video</span>
						<span class="icon font-ico-play"></span>
						<h4>Park "medju brezama"</h4>
					</a>
				</div>
				<div class="item">
					<a href="javascript:;" class="gallery-image-holder js-gallery-video-thumbnail" data-src="https://www.youtube.com/embed/I8mVC2kyMeo" style="background-image: url('/assets/img/content/gallery-medju-brezama.png')">
						<span class="sr-only">Click here to open a popup with video</span>
						<span class="icon font-ico-play"></span>
						<h4>Park "medju brezama"</h4>
					</a>
				</div>
				<div class="item">
					<a href="javascript:;" class="gallery-image-holder js-gallery-video-thumbnail" data-src="https://www.youtube.com/embed/I8mVC2kyMeo" style="background-image: url('/assets/img/content/homepage-hero.jpg')">
						<span class="sr-only">Click here to open a popup with video</span>
						<span class="icon font-ico-play"></span>
						<h4>Park "medju brezama"</h4>
					</a>
				</div>
			</div>
		</div>
	</div>
	<div class="popup js-popup js-mixed-image-popup">
		<span class="popup-overlay js-popup-overlay"></span>
		<button type="button" class="popup-close js-popup-close"><span class="sr-only">Click here to close popup</span></button>
		<div class="popup-content js-popup-content">
			<div class="popup-image-slider js-popup-mixed-slider">
				<div class="slider-item">
					<img src="/assets/img/content/future-project.jpg" alt="" />
				</div>
				<div class="slider-item">
					<img src="/assets/img/content/gallery-medju-brezama.png" alt="" />
				</div>
				<div class="slider-item">
					<img src="/assets/img/content/mission-background.jpg" alt="" />
				</div>
				<div class="slider-item">
					<img src="/assets/img/content/future-project.jpg" alt="" />
				</div>
				<div class="slider-item">
					<img src="/assets/img/content/future-project.jpg" alt="" />
				</div>
				<div class="slider-item">
					<img src="/assets/img/content/future-project.jpg" alt="" />
				</div>
				<div class="slider-item">
					<img src="/assets/img/content/future-project.jpg" alt="" />
				</div>
			</div>
		</div>
	</div>
	<div class="popup js-popup js-mixed-video-popup">
		<span class="popup-overlay js-popup-overlay"></span>
		<button type="button" class="popup-close js-popup-close"><span class="sr-only">Click here to close popup</span></button>
		<div class="popup-content js-popup-content">
			<div class="gallery-responsive-video">
				<iframe class="js-gallery-video-iframe" width="560" height="315" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
			</div>
		</div>
	</div>
</section>