@inherits UmbracoViewPage<StandardContentPageViewModel>

<div class="item" style="background-image: url(@Model.BannerImage.Url)">
	<h1>@Model.PageTitle</h1>
</div>

<div>
	@foreach (var item in Model.Items)
	{
		Html.RenderAction<NestedContentController>(c => nameof(c.Index), new { viewModel = item });
	}
</div>
