@inherits UmbracoViewPage<StandardContentPageViewModel>
@{
	Html.EnableClientValidation(true);
	Html.EnableUnobtrusiveJavaScript(true);
}

@if (Model.Banner != null)
{
	Html.RenderAction<LayoutController>(c => nameof(c.Banner), new { viewModel = Model.Banner });
}

@foreach (var item in Model.Items)
{
	Html.RenderAction<NestedContentController>(c => nameof(c.Index), new { viewModel = item });
}


<!-- TODO-from-Tijana hardcoded future projects  -->
@*<section class="future-projects-block">
	<div class="wrapper">
		<h2 class="section-title">Projekti u najavi</h2>
		<div class="cols-wrap">
			<div class="col">
				<div class="image-holder" style="background-image: url(/assets/img/content/future-project.jpg);">
					<span class="green-overlay"></span>
					<h3>Projekat #1</h3>
				</div>
				<div class="text-holder">
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ornare est commodo vulputate pharetra et elit accumsan. Enim dictumst lacus enim vestibulum sed amet aliquam nulla.</p>
				</div>
			</div>
			<div class="col">
				<div class="image-holder" style="background-image: url(/assets/img/content/future-project.jpg);">
					<span class="green-overlay"></span>
					<h3>Projekat #1</h3>
				</div>
				<div class="text-holder">
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ornare est commodo vulputate pharetra et elit accumsan. Enim dictumst lacus enim vestibulum sed amet aliquam nulla.</p>
				</div>
			</div>
			<div class="col">
				<div class="image-holder" style="background-image: url(/assets/img/content/future-project.jpg);">
					<span class="green-overlay"></span>
					<h3>Projekat #1</h3>
				</div>
				<div class="text-holder">
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ornare est commodo vulputate pharetra et elit accumsan. Enim dictumst lacus enim vestibulum sed amet aliquam nulla.</p>
				</div>
			</div>
		</div>
	</div>
</section>*@




<script defer type="text/javascript" src="/Scripts/jquery.validate.min.js"></script>
<script defer type="text/javascript" src="/Scripts/jquery.validate.unobtrusive.js"></script>
