@inherits Umbraco.Web.Mvc.UmbracoViewPage<EmbeddedVideoBlockViewModel>

<section class="video-block">
	<div class="wrapper">
		<div class="video-thumbnail js-video-thumbnail">
			@if (Model.VideoCoverImage != null)
			{
				<img src="@Model.VideoCoverImage.Url" alt="@Model.VideoCoverImage.AlternateText" />
			}
			<span class="icon font-ico-play"></span>
			<span class="sr-only">Click here to open a popup with video</span>
			@if (!string.IsNullOrWhiteSpace(Model.Title))
			{
				<h3>@Model.Title</h3>
			}
		</div>
		<div class="popup js-popup">
			<span class="popup-overlay js-popup-overlay"></span>
			<button type="button" class="popup-close js-popup-close"><span class="sr-only">Click here to close popup</span></button>
			@if (!string.IsNullOrWhiteSpace(Model.Link))
			{
				<div class="popup-content js-popup-content">
					<div class="responsive-video">
						<iframe class="js-simple-video-iframe" width="560" height="315" data-src="@Model.Link" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
					</div>
				</div>
			}
		</div>
	</div>
</section>
