@inherits Umbraco.Web.Mvc.UmbracoViewPage<EmbeddedVideoBlockViewModel>

<section class="video-block">
	<div class="wrapper">
		<div class="responsive-video">
			<div class="responsive-video-inner">
				<iframe width="560" height="315" src="@Model.Link" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
			</div>
		</div>
	</div>
</section>