@inherits Umbraco.Web.Mvc.UmbracoViewPage<GallerySimpleBlockViewModel>

<section class="gallery-section-block">
    <div class="wrapper">
        @foreach (var image in Model.Images)
        {
            <div class="image-holder">
                <img src="@image.Url" alt="" />
            </div>
        }
    </div>
</section>