@inherits Umbraco.Web.Mvc.UmbracoViewPage<ImageWithRtetextViewModel>

<div class="image-with-text-block@(Model.IsImageRight ? " right-aligned" : string.Empty)">
	<div class="wrapper">
		<div class="rte-block">
			@if (Model.Image != null)
			{
				<div class="image-holder">
					<img src="@Model.Image.Url" alt="@Model.Image.AlternateText" />
				</div>
			}

			@if (!string.IsNullOrWhiteSpace(Model.Text.ToString()))
			{
				@Model.Text
			}
		</div>
	</div>
</div>
