@inherits Umbraco.Web.Mvc.UmbracoViewPage<ImageWithRtetextViewModel>

<div class="image-with-text-block">
	<div class="wrapper">
		<div class="rte-block">
			@if (Model.Image != null)
			{
				<div class="image-holder">
					<img src="@Model.Image.Url" alt="" />
				</div>
			}

			@if (Model.Text != null)
			{
				@Model.Text
			}
		</div>
	</div>
</div>