@inherits Umbraco.Web.Mvc.UmbracoViewPage<RTeblockViewModel>

@if (!string.IsNullOrWhiteSpace(Model.Text.ToString()))
{
	<section class="rte-block">
		<div class="wrapper">
			@Model.Text
		</div>
	</section>
}
