@inherits UmbracoViewPage<StatisticsBlockViewModel>

<section class="statistics-block" style="background-image: url(@Model.BackgroundImage.Url);">
	<div class="green-overlay"></div>
	<div class="wrapper">
		@foreach (var item in Model.StatisticItems)
		{
			<div class="item">
				@*@if(item.Number )
					{
						sta se desi kada se ne prosledi number?				}*@
				<span class="value">@item.Number</span>
				@if (!string.IsNullOrEmpty(item.Text))
				{
					<span class="desc">@item.Text</span>
				}
			</div>
		}
	</div>
</section>
