//----------  variables  ----------

// fonts
$font-default: 'Open Sans', sans-serif;
$bold-cons: 'Open Sans Condensed', sans-serif;

// colors
$white: #fff;
$black: #000;
$grey-dark: #414141;
$grey: #7e7e7e;
$green: #40b9b9;
$grey-lines: #d4d4d4;
$red: #e64444;