//----------  variables  ----------

// fonts
$font-default: 'Open Sans', sans-serif;
$bold-cons: 'Open Sans Condensed', sans-serif;

// colors
$white: #fff;
$black: #000;
$grey-dark: #414141;
$grey: #666;
$green: #40b9b9;
