//----------  forms  ----------
input,
textarea {
	@include placeholder {
		color: $grey-lines;
	}
	background: $white;
	border: 0;
	border-bottom: 2px solid $green;
	border-left: 2px solid $green;
	border-radius: 0;
	box-shadow: none;
	color: $grey-dark;
	font-family: $font-default;
	padding: 0 10px;
	width: 100%;

	&.input-validation-error {
		border-color: $red;
		color: $red;
	}
}

input {
	height: 25px;
}

textarea {
	height: 78px;
	resize: none;
	@include breakpoint(phone) {
		height: 148px;
	}
}

//----------  form  ----------
.contact-form-wrap {
	background: url('../img/contact-form-bg.png') no-repeat left top;
	background-size: 90% 100%;
	margin-top: -156px;
	padding: 49px 0 78px 90px;
	position: relative;
	z-index: 4;
	h2 {
		font-family: $bold-cons;
		font-size: 28px;
		font-weight: bold;
		letter-spacing: -.8px;
		line-height: 1.2;
		margin-bottom: 33px;
		text-transform: uppercase;
	}
	form {
		width: 82.5%;
	}
	.fieldset-inner {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		position: relative;
	}
	.input-wrap {
		margin-bottom: 20px;
		width: 46%;
	}
	.input-wrap-fullwidth {
		width: 100%;
	}
	.input-submit-wrap {
		bottom: -96px;
		position: absolute;
		right: -22%;
	}
	.btn {
		padding-left: 40px;
		padding-right: 40px;
		&:not(:hover) {
			background-color: $white;
		}
	}
	@include breakpoint(desktop-small) {
		margin-top: -130px;
	}
	@include breakpoint(touch) {
		margin-top: 0;
		h2 {
			font-size: 24px;
		}
	}
	@include breakpoint(tablet) {
		padding-left: 60px;
		.input-submit-wrap {
			right: -36%;
		}
	}
	@include breakpoint(phone) {
		background: none;
		padding: 30px 0 95px;
		&::before {
			background-image: url('../img/contact-form-mobile-bg.png');
			background-position: left bottom;
			background-repeat: no-repeat;
			background-size: 780px auto;
			bottom: 15px;
			content: '';
			display: inline-block;
			height: 100px;
			left: 50%;
			position: absolute;
			transform: translateX(-50%);
			width: 780px;
		}
		h2 {
			margin-bottom: 45px;
			text-align: center;
			width: 100%;
		}
		form {
			padding: 0 13px;
			position: relative;
			width: 100%;
		}
		.input-wrap {
			margin-bottom: 36px;
			width: 100%;
		}
		.input-submit-wrap {
			bottom: -96px;
			left: 0;
			right: auto;
		}
	}
}

//----------  error message  ----------
.contact-form-error,
.field-validation-error {
	color: $red;
	display: block;
	width: 100%;
	&.error-message-top {
		margin-bottom: 30px;
	}
}

.contact-form-success {
	color: $green;
	display: none;
	font-size: 16px;
	font-weight: 700;
	line-height: 1.2;
	width: 100%;
	&.show {
		display: block;
	}
}