//----------  forms  ----------
input,
textarea {
	@include placeholder {
		color: $black;
	}
	background: $white;
	border-radius: 0;
	box-shadow: none;
	color: $black;
	font-family: $font-default;
	height: 25px;
	padding: 0 10px;
}
