//----------  layout  ----------
html, body {
	@include font-smoothing(antialiased);
	height: 100%;
}

body {
	color: $grey-dark;
	font-family: $font-default;
	font-size: 14px;
}

.container {
	@include base-float;
	overflow: hidden;
	@include breakpoint(desktop) {
		display: flex;
		flex-direction: column;
		min-height: 100vh;
	}
	@media only screen and (max-width: 319px) {
		width: 320px;
	}
}

.wrapper {
	margin: 0 auto;
	max-width: 1450px;
	padding: 0 20px;
	width: 100%;
}

.content {
	@include base-float;
	padding-bottom: 70px;
	@include breakpoint(phone) {
		padding-bottom: 50px;
	}
}
