//----------  typography  ----------
.section-title {
	color: $grey-dark;
	font-family: $bold-cons;
	font-size: 46px;
	font-weight: bold;
	line-height: 56px;
	margin-bottom: 40px;
	text-align: center;
	text-transform: uppercase;
	@include breakpoint(tablet) {
		font-size: 42px;
		line-height: 52px;
		margin-bottom: 30px;
	}
	@include breakpoint(phone) {
		font-size: 48px;
		line-height: 45px;
	}
}

// icon font
[class*='font-'] {
	display: inline-block;
	font-size: 30px;
	color: $black;
	line-height: 1;
}