@using NKN.Core.ViewModels.Partials.Layout
@inherits UmbracoViewPage<FooterViewModel>

<footer class="footer">
	<div class="wrapper">
		<ul class="footer-links">
			@foreach (var page in Model.Pages)
			{
				<li>
					<a href="@page.Url" class="footer-links-item">@page.PageTitle</a>
				</li>
			}
		</ul>
	</div>
</footer>
