<footer class="footer">
	<div class="wrapper">
		<ul class="footer-links">
			<li>
				<a href="javascript:;" class="footer-links-item">Uslovi korišćenja</a>
			</li>
			<li>
				<a href="javascript:;" class="footer-links-item">Pravila privatnosti</a>
			</li>
			<li>
				<a href="javascript:;" class="footer-links-item">Politiika o kolačićima</a>
			</li>
			<li>
				<a href="javascript:;" class="footer-links-item">Uslovi korišćenja</a>
			</li>
			<li class="footer-credit">
				Designed by <a href="javascript:;" class="footer-links-item">Baseline</a>
			</li>
		</ul>
	</div>
</footer>
