@using NKN.Core.ViewModels.Partials.Layout
@inherits UmbracoViewPage<FooterViewModel>

<footer class="footer">
	<div class="wrapper">
		@if (Model.HygieneLinks != null && Model.HygieneLinks.Any())
		{
			<ul class="footer-links">
				@foreach (var hygieneLink in Model.HygieneLinks)
				{
					<li>
						<a href="@hygieneLink.Url" target="@hygieneLink.Target" class="footer-links-item">@hygieneLink.Content</a>
					</li>
				}
			</ul>
		}

	</div>
</footer>
