<header class="header js-header">
	<div class="wrapper">
		<a href="javascript:;" class="header-logo">
			<img src="assets/img/logo-white.png" class="header-logo-white" alt=""/>
			<img src="assets/img/logo-black.png" class="header-logo-black" alt=""/>
		</a>
		<nav class="nav js-nav">
			<a href="javascript:;" class="nav-link">O nama</a>
			<a href="javascript:;" class="nav-link">Vesti</a>
			<a href="javascript:;" class="nav-link">Galerija</a>
			<a href="javascript:;" class="nav-link">Donacije</a>
			<a href="javascript:;" class="nav-link">Kontakt</a>
		</nav>
		<div class="header-social">
			<a href="javascript:;" class="header-social-link">
				<span class="sr-only">Facebook</span>
				<span class="icon font-ico-facebook"></span>
			</a>
			<a href="javascript:;" class="header-social-link">
				<span class="sr-only">Instagram</span>
				<span class="icon font-ico-instagram"></span>
			</a>
			<a href="javascript:;" class="header-social-link">
				<span class="sr-only">YouTube</span>
				<span class="icon font-ico-youtube"></span>
			</a>
		</div>
		<div class="language-switcher">
			<button type="button" class="selected-item js-selected-item">SR</button>
			<ul class="language-list js-language-list">
				<li>
					<span class="js-language-item">SR</span>
				</li>
				<li>
					<span class="js-language-item">EN</span>
				</li>
			</ul>
		</div>
		<button class="header-hamburger js-header-hamburger" aria-hidden="true">
			<span class="sr-only">Click to open navigation</span>
			<span class="font-ico-hamburger"></span>
		</button>
	</div>
</header>
