<header class="header">
	<div class="wrapper">
		<a href="javascript:;" class="header-logo">
			<img src="assets/img/logo-white.png" class="header-logo-white" alt="" />
			<img src="assets/img/logo-black.png" class="header-logo-black" alt="" />
		</a>
		<nav class="nav">
			<a href="javascript:;" class="nav-link">O nama</a>
			<a href="javascript:;" class="nav-list-link">Vesti</a>
			<a href="javascript:;" class="nav-list-link">Blog</a>
			<a href="javascript:;" class="nav-list-link">Donacije</a>
			<a href="javascript:;" class="nav-list-link">Kontakt</a>
		</nav>
		<div class="header-social">
			<a href="javascript:;" class="header-social-link">
				<span class="sr-only">Facebook</span>
				<span class="font-ico-facebook"></span>
			</a>
			<a href="javascript:;" class="header-social-link">
				<span class="sr-only">Instagram</span>
				<span class="font-ico-instagram"></span>
			</a>
			<a href="javascript:;" class="header-social-link">
				<span class="sr-only">YouTube</span>
				<span class="font-ico-youtube"></span>
			</a>
		</div>
		<button class="header-hamburger" aria-hidden="true">
			<span class="sr-only">Click to open navigation</span>
			<span class="font-ico-hamburger"></span>
		</button>
	</div>
</header>
