//----------  helpers  ----------
%clearfix {
	&::before, &::after {
		content: '';
		display: table;
	}

	&::after {
		clear: both;
	}
}

.clearfix {
	@extend %clearfix;
}

.hide {
	display: none;
}

.show {
	display: block;
}

.clear {
	clear: both;
}

.no-margin {
	margin: 0;
}

.fleft {
	float: left;
}

.fright {
	float: right;
}

.centered {
	text-align: center;
}

* {
	box-sizing: border-box;
	&::before,
	&::after {
		box-sizing: border-box;
	}
}

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	border: 0;
}

.green-overlay {
	background-color: #1c8484;
	bottom: 0;
	left: 0;
	opacity: .6;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 1;
}