//----------  contact form block  ----------
.contact-form {
	@include base-float;
	position: relative;
	z-index: 5;
	@include breakpoint(tablet-desktop) {
		.contact-form-wrap {
			background-size: 87% 100%;
			margin: -80px auto 0;
			max-width: 850px;
			padding: 34px 0 77px 77px;
			transform: translateX(-17px);
			h2 {
				margin-bottom: 24px;
			}
			textarea {
				height: 60px;
			}
		}
	}
	@include breakpoint(tablet) {
		.contact-form-wrap {
			transform: none;
			.input-submit-wrap {
				right: -20%;
			}
		}
	}
	@include breakpoint(phone) {
		padding: 30px 0 57px;
	}
}

//----------  background  ----------
.contact-background {
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 290px;
	overflow: hidden;
	position: relative;
	width: 100%;
	z-index: 1;
	&::before,
	&::after {
		background-color: $white;
		content: '';
		height: 200px;
		left: -20px;
		position: absolute;
		right: -20px;
		z-index: 2;
	}
	&::before {
		top: -150px;
		transform: rotate(-2deg);
	}
	&::after {
		bottom: -140px;
		transform: rotate(3deg);
	}
	.green-overlay {
		display: block;
	}
	@include breakpoint(tablet-desktop) {
		+ .wrapper .contact-form-wrap {
			background-size: 89% 100%;
			margin: -185px auto 106px;
			padding: 33px 0 72px 79px;
			transform: translateX(14px);
			.input-wrap {
				margin-bottom: 10px;
			}
		}
	}
	@include breakpoint(tablet) {
		&::before {
			top: -150px;
		}
		&::after {
			bottom: -150px;
		}
	}
	@include breakpoint(phone) {
		height: 200px;
		&::before,
		&::after {
			height: 100px;
		}
		&::before {
			top: -60px;
		}
		&::after {
			bottom: -60px;
		}
		+ .wrapper .contact-form-wrap {
			margin: 0 auto 40px;
		}
	}
}