//----------  contact form block  ----------
.contact-form {
	@include base-float;
	position: relative;
	z-index: 5;
	@include breakpoint(tablet-desktop) {
		.contact-form-wrap {
			margin: -185px auto 0;
			max-width: 885px;
			padding: 37px 0 0 84px;
			h2 {
				margin-bottom: 24px;
			}
		}
	}
	@include breakpoint(tablet) {
		.contact-form-wrap .btn {
			transform: translate(100%, 46%);
		}
	}
}

//----------  background  ----------
.contact-background {
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 290px;
	overflow: hidden;
	position: relative;
	width: 100%;
	z-index: 1;
	&::before,
	&::after {
		background-color: $white;
		content: '';
		height: 200px;
		left: -20px;
		position: absolute;
		right: -20px;
		z-index: 2;
	}
	&::before {
		top: -150px;
		transform: rotate(-2deg);
	}
	&::after {
		bottom: -140px;
		transform: rotate(3deg);
	}
	.green-overlay {
		display: block;
	}
	+ .wrapper .contact-form-wrap {
		textarea {
			height: 60px;
		}
	}
	@include breakpoint(tablet-desktop) {
		+ .wrapper .contact-form-wrap {
			margin: -185px auto 106px;
			max-width: 862px;
			padding: 35px 0 0 81px;
			transform: translateX(17px);
			.input-wrap {
				margin-bottom: 10px;
			}
		}
	}
	@include breakpoint(tablet) {
		&::before {
			top: -150px;
		}
		&::after {
			bottom: -150px;
		}
	}
	@include breakpoint(phone) {
		height: 200px;
		&::before,
		&::after {
			height: 100px;
		}
		&::before {
			top: -60px;
		}
		&::after {
			bottom: -60px;
		}
		+ .wrapper .contact-form-wrap {
			margin: 0 auto 40px;
		}
	}
}