//----------  four highlighted block  ----------
.four-highlighted-block {
	@include base-float;
	padding: 30px 0 50px;
	.cols-wrap {
		display: flex;
		justify-content: center;
	}
	.col {
		width: 25%;
	}
	.image-holder {
		display: block;
		margin-bottom: 20px;
		padding: 0 10px;
		text-align: center;
		max-width: 100%;
	}
	img {
		display: inline-block;
		position: relative;
		top: 50%;
		transform: translateY(-50%);
	}
	.image-hover {
		display: none;
	}
	.text-holder {
		margin: 0 auto;
		max-width: 300px;
		padding: 0 20px;
		text-align: center;
	}
	h3 {
		font-family: $bold-cons;
		font-size: 28px;
		line-height: 1.2;
		margin-bottom: 19px;
		text-align: center;
		text-transform: uppercase;
		width: 100%;
	}
	p {
		color: $grey;
		font-size: 14px;
		line-height: 24px;
		margin-bottom: 35px;
		width: 100%;
	}
	.btn {
		margin-top: auto;
	}
	@include breakpoint(desktop) {
		.image-holder-hover:hover {
			.image-regular {
				display: none;
			}
			.image-hover {
				display: inline-block;
			}
		}
	}
	@include breakpoint(tablet-desktop) {
		.col {
			align-items: center;
			display: flex;
			flex-direction: column;
		}
		.image-holder {
			flex-shrink: 0;
		}
		.text-holder {
			display: flex;
			flex-wrap: wrap;
			height: 100%;
			justify-content: center;
		}
	}
	@include breakpoint(touch) {
		h3 {
			font-size: 24px;
		}
	}
	@include breakpoint(phone) {
		padding: 40px 0;
		.cols-wrap {
			display: block;
			padding-top: 7px;
		}
		.col {
			margin-bottom: 44px;
			width: 100%;
			&:last-child {
				margin-bottom: 0;
			}
		}
		.image-holder {
			margin-bottom: 10px;
			padding: 0 20px;
		}
		img {
			top: auto;
			transform: translateY(0);
		}
		p {
			font-size: 14px;
			line-height: 24px;
			margin-bottom: 18px;
		}
	}
}