.gallery-section-block {
	@include base-float;
	padding: 50px 0;
	.wrapper {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}
	.image-holder {
		margin-bottom: 30px;
		width: calc(33.3333% - 20px);
	}
	img {
		width: 100%;
	}
}
