//----------  header  ----------
.header {
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 10;

	.wrapper {
		display: flex;
	}
}

.header-sticky {
	position: fixed;
}

.header-logo {
	margin-right: auto;
	width: 198px;
	img {
		width: 100%;
	}
	.header-logo-black {
		display: none;
	}
}

.nav {
	.nav-link {
		color: $white;
	}
}

.header-social {
	.icon {
		color: $white;
	}
}

.header-hamburger {
	display: none;
}