//----------  header  ----------
.header {
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 10;
}

.header-sticky {
	position: fixed;
}

.header-logo {
	float: left;
	width: 198px;
	img {
		width: 100%;
	}
	.header-logo-black {
		display: none;
	}
}