//----------  hero slider  ----------
.hero-banner-slider-wrap {
	@include base-float;
	position: relative;
	@include breakpoint(desktop-small) {
		margin-bottom: 30px;
	}
	@include breakpoint(touch) {
		margin-bottom: 20px;
	}
}
.hero-banner-slider {
	@include base-float;
	overflow: hidden;
	position: relative;
	&::after {
		background-color: $white;
		bottom: -130px;
		content: '';
		display: inline-block;
		height: 208px;
		left: -20px;
		position: absolute;
		right: -20px;
		transform: rotate(-4deg);
	}
	.item {
		overflow: hidden;
		position: relative;
	}
	img {
		width: 100%;
	}
	.hero-content {
		width: 100%;
	}
	.wrapper {
		align-items: flex-end;
		display: flex;
	}
	@include breakpoint(desktop) {
		.hero-content {
			bottom: 180px;
			left: 0;
			position: absolute;
		}
	}
	@include breakpoint(desktop-small) {
		.hero-content {
			bottom: 140px;
		}
	}
	@include breakpoint(touch) {
		padding-bottom: 30px;
		&::after {
			display: none;
		}
		.item {
			background-position: center top;
			background-repeat: no-repeat;
			background-size: cover;
			img {
				display: none;
			}
		}
		.hero-content {
			margin-top: 200px;
		}
	}
}

.hero-slider-arrows {
	bottom: 110px;
	left: 0;
	position: absolute;
	width: 100%;
	z-index: 20;
	.slick-arrow {
		background-color: $white;
		font-size: 0;
		&::before {
			@include font-styles;
			color: $grey-dark;
			content: font-char(ico-arrow);
			display: inline-block;
			font-size: 20px;
			height: 30px;
			line-height: 30px;
			width: 30px;
		}
	}
	.slick-prev {
		margin: 0 14px 0 390px;
	}
	.slick-next::before {
		transform: rotate(-180deg);
	}
	@include breakpoint(desktop) {
		.slick-arrow {
			transition: background .3s ease;
			&:hover {
				background-color: $green;
				&::before {
					color: $white;
				}
			}
		}
	}
	@media only screen and (min-width: 1025px) and (max-width: 1660px) {
		.slick-prev {
			margin-left: 480px;
		}
	}
	@include breakpoint(desktop-small) {
		bottom: 20px;
		.slick-arrow {
			background-color: $grey-dark;
			&::before {
				color: $white;
			}
		}
		.slick-prev {
			margin-left: calc(50% - 40px);
		}
	}
	@include breakpoint(touch) {
		bottom: auto;
		left: auto;
		float: left;
		position: relative;
		text-align: center;
		.slick-arrow {
			background-color: $grey-dark;
			margin: 0 10px;
			&::before {
				color: $white;
			}
		}
	}
}

//----------  text holder  ----------
.hero-slider-text-holder {
	background-color: $white;
	float: left;
	position: relative;
	width: 470px;
	&::before {
		background-image: url('../img/home-slider-bg.png');
		background-position: center center;
		background-repeat: no-repeat;
		background-size: 100% 100%;
		bottom: -80px;
		content: '';
		left: -80px;
		position: absolute;
		right: -80px;
		top: -34px;
	}
	h2 {
		font-family: $bold-cons;
		font-size: 46px;
		letter-spacing: -1.5px;
		line-height: 1.2;
		margin-bottom: 5px;
		position: relative;
		text-transform: uppercase;
	}
	p {
		color: $grey;
		font-size: 16px;
		line-height: 24px;
		margin-bottom: 20px;
		position: relative;
	}
	.btn {
		position: relative;
	}
	@media only screen and (min-width: 1025px) and (max-width: 1660px) {
		margin-left: 90px;
	}
	@include breakpoint(desktop-small) {
		h2 {
			font-size: 36px;
		}
		p {
			font-size: 14px;
			line-height: 20px;
		}
	}
	@include breakpoint(touch) {
		background-color: rgba($white, 0);
		margin-top: -10px;
		padding: 0 10px;
		text-align: center;
		width: 100%;
		&::before {
			display: none;
		}
		h2 {
			color: $white;
			margin-bottom: 60px;
			position: relative;
			text-align: center;
			&::before {
				background: $white;
				bottom: -520px;
				content: '';
				height: 500px;
				left: -80px;
				position: absolute;
				right: -80px;
				transform: rotate(3deg);
			}
		}
		p {
			font-size: 14px;
		}
	}
	@include breakpoint(phone) {
		h2 {
			font-size: 40px;
			margin-bottom: 50px;
			&::before {
				transform: rotate(4deg);
			}
		}
	}
}