//----------  hero slider  ----------
.hero-banner-slider {
	@include base-float;
	.item {
		background-position: center top;
		background-repeat: no-repeat;
		background-size: cover;
	}
	.wrapper {
		align-items: flex-end;
		display: flex;
		height: 915px;
	}
}

.hero-slider-text-holder {
	background-color: $white;
	float: left;
	width: 620px;
}