//----------  image with text block  ----------
.image-with-text-block {
	@include base-float;
	.image-holder {
		float: left;
		margin: 0 40px 30px 0;
		max-width: 52%;
	}
	&.right-aligned {
		.image-holder {
			float: right;
			margin: 0 0 30px 40px;
		}
	}
	@include breakpoint(tablet) {
		.image-holder {
			margin: 0 30px 30px 0;
			max-width: 48%;
		}
		&.right-aligned .image-holder {
			margin: 0 0 30px 30px;
		}
	}
	@include breakpoint(phone) {
		.image-holder {
			margin: 0 0 30px;
			max-width: none;
			width: 100%;
		}
		&.right-aligned .image-holder {
			margin: 0 0 30px;
		}
	}
}