//----------  popup  ----------
.popup {
	bottom: 0;
	display: none;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 15;
}

//----------  popup overlay  ----------
.popup-overlay {
	background-color: rgba($black, .7);
	bottom: 0;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 1;
}

//----------  popup close button  ----------
.popup-close {
	display: inline-block;
	height: 40px;
	right: 20px;
	position: absolute;
	top: 10px;
	width: 40px;
	z-index: 2;
	&::before,
	&::after {
		background-color: $green;
		content: '';
		display: inline-block;
		height: 4px;
		left: 50%;
		margin-left: -15px;
		position: absolute;
		top: 50%;
		width: 30px;
	}
	&::before {
		transform: rotate(-45deg);
	}
	&::after {
		transform: rotate(45deg);
	}
	@include breakpoint(touch) {
		height: 20px;
		width: 20px;
		&::before,
		&::after {
			margin-left: -10px;
			width: 20px;
		}
	}
}

//----------  popup content box  ----------
.popup-content {
	display: flex;
	left: 50%;
	justify-content: center;
	max-height: calc(100% - 60px);
	max-width: calc(100% - 60px);
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 1100px;
	z-index: 3;
	@include breakpoint(touch) {
		max-height: calc(100% - 40px);
		max-width: calc(100% - 40px);
	}
}

//----------  popup image for simple gallery  ----------
.popup-image-holder {
	text-align: center;
	width: 100%;
	img {
		background-color: $white;
		max-height: 100%;
		padding: 20px;
	}
}