.video-block {
	@include base-float;
	.responsive-video {
		margin: 0 auto;
		max-width: 500px;
		width: 100%;
	}
	.responsive-video-inner {
		height: 0;
		padding-bottom: 56%;
		position: relative;
		width: 100%;
	}
	iframe {
		bottom: 0;
		height: 100%;
		left: 0;
		position: absolute;
		right: 0 ;
		top: 0;
		width: 100%;
	}
}